In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('combined.csv')
df

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,region_code,center_type,op_area,category,cuisine
0,1379560,1,55,1885,136.83,152.29,0,0,177,647,56,TYPE_C,2.0,Beverages,Thai
1,1018704,2,55,1885,135.83,152.29,0,0,323,647,56,TYPE_C,2.0,Beverages,Thai
2,1196273,3,55,1885,132.92,133.92,0,0,96,647,56,TYPE_C,2.0,Beverages,Thai
3,1116527,4,55,1885,135.86,134.86,0,0,163,647,56,TYPE_C,2.0,Beverages,Thai
4,1343872,5,55,1885,146.50,147.50,0,0,215,647,56,TYPE_C,2.0,Beverages,Thai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456543,1437396,141,61,2104,583.03,630.53,0,1,13,473,77,TYPE_A,4.5,Fish,Continental
456544,1060716,142,61,2104,581.03,582.03,0,0,42,473,77,TYPE_A,4.5,Fish,Continental
456545,1029231,143,61,2104,583.03,581.03,0,0,40,473,77,TYPE_A,4.5,Fish,Continental
456546,1141147,144,61,2104,582.03,581.03,0,0,53,473,77,TYPE_A,4.5,Fish,Continental
456547,1443704,145,61,2104,581.03,582.03,0,0,27,473,77,TYPE_A,4.5,Fish,Continental

### Dummify center_id

In [3]:
encoded_center_id = pd.get_dummies(df['center_id'], prefix='center_id')
encoded_center_id

,center_id_10,center_id_11,center_id_13,center_id_14,center_id_17,center_id_20,center_id_23,center_id_24,center_id_26,center_id_27,...,center_id_146,center_id_149,center_id_152,center_id_153,center_id_157,center_id_161,center_id_162,center_id_174,center_id_177,center_id_186
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456543,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456544,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456545,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456546,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456547,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Dummify meal_id

In [4]:
encoded_meal_id = pd.get_dummies(df['meal_id'], prefix = 'meal_id')
encoded_meal_id

,meal_id_1062,meal_id_1109,meal_id_1198,meal_id_1207,meal_id_1216,meal_id_1230,meal_id_1247,meal_id_1248,meal_id_1311,meal_id_1438,...,meal_id_2581,meal_id_2631,meal_id_2640,meal_id_2664,meal_id_2704,meal_id_2707,meal_id_2760,meal_id_2826,meal_id_2867,meal_id_2956
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456543,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456544,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456545,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456546,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456547,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Dummify city_code

In [5]:
encoded_city_code = pd.get_dummies(df['city_code'], prefix='city_code')
encoded_city_code

,city_code_456,city_code_461,city_code_473,city_code_478,city_code_485,city_code_515,city_code_517,city_code_522,city_code_526,city_code_541,...,city_code_683,city_code_685,city_code_693,city_code_695,city_code_698,city_code_699,city_code_700,city_code_702,city_code_703,city_code_713
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456543,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456544,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456545,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456546,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456547,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Dummify region code

In [6]:
encoded_region_code = pd.get_dummies(df['region_code'], prefix='city_code')
encoded_region_code

,city_code_23,city_code_34,city_code_35,city_code_56,city_code_71,city_code_77,city_code_85,city_code_93
0,0,0,0,1,0,0,0,0
1,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,0,0
3,0,0,0,1,0,0,0,0
4,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
456543,0,0,0,0,0,1,0,0
456544,0,0,0,0,0,1,0,0
456545,0,0,0,0,0,1,0,0
456546,0,0,0,0,0,1,0,0
456547,0,0,0,0,0,1,0,0

### Dummify center_type

In [7]:
encoded_center_type = pd.get_dummies(df['center_type'])
encoded_center_type

        TYPE_A  TYPE_B  TYPE_C
0            0       0       1
1            0       0       1
2            0       0       1
3            0       0       1
4            0       0       1
...        ...     ...     ...
456543       1       0       0
456544       1       0       0
456545       1       0       0
456546       1       0       0
456547       1       0       0

[456548 rows x 3 columns]

### Dummify category

In [8]:
encoded_category = pd.get_dummies(df['category'])
encoded_category

,Beverages,Biryani,Desert,Extras,Fish,Other Snacks,Pasta,Pizza,Rice Bowl,Salad,Sandwich,Seafood,Soup,Starters
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456543,0,0,0,0,1,0,0,0,0,0,0,0,0,0
456544,0,0,0,0,1,0,0,0,0,0,0,0,0,0
456545,0,0,0,0,1,0,0,0,0,0,0,0,0,0
456546,0,0,0,0,1,0,0,0,0,0,0,0,0,0
456547,0,0,0,0,1,0,0,0,0,0,0,0,0,0

### Dummify cuisine

In [9]:
encoded_cuisine = pd.get_dummies(df['cuisine'])
encoded_cuisine

        Continental  Indian  Italian  Thai
0                 0       0        0     1
1                 0       0        0     1
2                 0       0        0     1
3                 0       0        0     1
4                 0       0        0     1
...             ...     ...      ...   ...
456543            1       0        0     0
456544            1       0        0     0
456545            1       0        0     0
456546            1       0        0     0
456547            1       0        0     0

[456548 rows x 4 columns]

In [10]:
df = pd.concat([df, encoded_center_id, encoded_meal_id, encoded_city_code, encoded_region_code, encoded_center_type, encoded_category, encoded_cuisine], axis = 1)
df

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,city_code,...,Rice Bowl,Salad,Sandwich,Seafood,Soup,Starters,Continental,Indian,Italian,Thai
0,1379560,1,55,1885,136.83,152.29,0,0,177,647,...,0,0,0,0,0,0,0,0,0,1
1,1018704,2,55,1885,135.83,152.29,0,0,323,647,...,0,0,0,0,0,0,0,0,0,1
2,1196273,3,55,1885,132.92,133.92,0,0,96,647,...,0,0,0,0,0,0,0,0,0,1
3,1116527,4,55,1885,135.86,134.86,0,0,163,647,...,0,0,0,0,0,0,0,0,0,1
4,1343872,5,55,1885,146.50,147.50,0,0,215,647,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456543,1437396,141,61,2104,583.03,630.53,0,1,13,473,...,0,0,0,0,0,0,1,0,0,0
456544,1060716,142,61,2104,581.03,582.03,0,0,42,473,...,0,0,0,0,0,0,1,0,0,0
456545,1029231,143,61,2104,583.03,581.03,0,0,40,473,...,0,0,0,0,0,0,1,0,0,0
456546,1141147,144,61,2104,582.03,581.03,0,0,53,473,...,0,0,0,0,0,0,1,0,0,0
456547,1443704,145,61,2104,581.03,582.03,0,0,27,473,...,0,0,0,0,0,0,1,0,0,0

In [11]:
drop_cols = ['id', 'center_id', 'meal_id', 'city_code', 'region_code', 'center_type', 'category', 'cuisine']
df = df.drop(drop_cols, axis=1)
df

,week,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,op_area,center_id_10,center_id_11,center_id_13,...,Rice Bowl,Salad,Sandwich,Seafood,Soup,Starters,Continental,Indian,Italian,Thai
0,1,136.83,152.29,0,0,177,2.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,135.83,152.29,0,0,323,2.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3,132.92,133.92,0,0,96,2.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,135.86,134.86,0,0,163,2.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,146.50,147.50,0,0,215,2.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456543,141,583.03,630.53,0,1,13,4.5,0,0,0,...,0,0,0,0,0,0,1,0,0,0
456544,142,581.03,582.03,0,0,42,4.5,0,0,0,...,0,0,0,0,0,0,1,0,0,0
456545,143,583.03,581.03,0,0,40,4.5,0,0,0,...,0,0,0,0,0,0,1,0,0,0
456546,144,582.03,581.03,0,0,53,4.5,0,0,0,...,0,0,0,0,0,0,1,0,0,0
456547,145,581.03,582.03,0,0,27,4.5,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [12]:
df.to_csv('combined_2.csv', index=False)